@import "../abstract/variables";
@import "../abstract/mixins";

.products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px;

    @include responsive(992px) {
        grid-template-columns: 1fr 1fr; // 2 columns on tablets
    }

    @include responsive(600px) {
        grid-template-columns: 1fr; // 1 column on mobile
    }

}

.product-card {
    background-color: white;
    // padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 10px rgb(192, 52, 52);
    }

    img {
        width: 100%;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 18px;
        margin: 10px 0;
        color: $secondary-color;
    }

    .price {
        font-size: 16px;
        font-weight: bold;
        color: $primary-color;
        margin-bottom: 10px;
    }
}