.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "header"
    "content"
    "footer";
}

p,a,h1,h2,h3,h4,h5,h6 {
  color: #5d5d5d;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

