* {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
}

ul.header {
    margin: 10px;
    margin-bottom: 50px;
    color: gray;
}

li.header {
    list-style: none;
    padding: 5px;
    margin: 5px;
    display: inline-block;
}

ul.header li:first-child {
    margin-left: 200px;
    margin-right: 10px;
}

ul.header li:nth-last-child(2) {
    margin-left: 400px;
}

ul.header li:last-child,
div.first-content button,
div.fifth-content button {
    color: white;
    background-color: #4b2aad;
    border-radius: 20px;
    padding: 8px 15px;
    font-weight: 600;
}

ul.header li:first-child {
    color: #4b2aad;
    font-size: 30px;
}

div.first-content,
div.third-content,
div.fourth-content,
div.fifth-content,
div.last-content {
    width: 900px;
    margin: 20px auto 50px;
}

div.first-content table,
div.third-content table,
div.fourth-content table {
    width: 100%;
    margin: auto;
}

.img {
    text-align: center;
    /* Center content horizontally */
}

div.first-content p,
div.third-content p,
div.fourth-content p,
div.rate p {
    color: gray;
    font-size: 10px;
    line-height: 2;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.first-content p:nth-last-child(2),
div.third-content p:nth-last-child(2),
div.fourth-content p:nth-last-child(2) {
    font-size: 17px;
}

div.first-content button,
div.fifth-content button {
    border: 0;
    outline: 0;
}

div.first-content img {
    width: 400px;
    height: 400px;
}

div.second-content,
div.fifth-content {
    text-align: center;
}

div.second-content div {
    margin-bottom: 60px;
    margin-top: 45px;

}

div.second-content p,
div.second-content tr:last-child {
    color: darkgray;
}

div.second-content table {
    width: 900px;
    margin: auto;
}

div.second-content table tr td {
    width: 33.3%;
    font-size: medium;
}

div.second-content table tr.icons td i {
    width: 50px;
    height: 50px;
    background-color: lightgrey;
    line-height: 50px;
    border-radius: 50%;
    margin-left: auto;
}

div.third-content h2,
div.fourth-content h2,
div.fifth-content h2 {
    font-size: 20px;
}

div.third-content img,
div.fourth-content img {
    width: 300px;
    height: 300px;
}

div.third-content p:last-child,
div.fourth-content p:last-child {
    color: #4b2aad;
    font-size: 15px;
}

div.rate {
    text-align: center;
    margin: 30px auto 50px;
}

div.rate p:nth-of-type(1) {
    color: black;
}

div.fifth-content {
    background-color: #201445;
    color: white;
    height: 250px;
    border-radius: 10px;
}

div.fifth-content h2 {
    padding-top: 60px;
    padding-bottom: 12px;
    font-size: x-large;
}

div.fifth-content p {
    padding-bottom: 10px;
}

div.fifth-content button {
    background-color: #9584c7;
}

div.footer {
    background-color: #f5efeb;
    line-height: 1.5;
}

div.last-content {
    padding-top: 90px;
    word-spacing: 1px;
}

div.last-content span {
    border-bottom: 1px solid;
    color: #5d5756;
    margin-right: 8px;
    line-height: 35px;
}

div.last-content span.first-word {
    border-bottom: none;
    color: black;
}

div.last-content p.last-line {
    color: #5d5756;
    padding-top: 20px;
}

div.footer{
    width: 100%;
}

div.footer div.mark {
    height: 70px;
    margin-left: 95%;
    margin-right: 10px;
}

div.footer div.container{
    margin: auto;
    width: 25px;
    height: 25px;
    background-color: #4b2aad;
    border-radius: 50%;
    padding: 10px 10px;
    text-align: center;
}